#      __  ____                 _   __                
#    /  |/  (_)_____________  / | / /___ _   ______ _
#   / /|_/ / / ___/ ___/ __ \/  |/ / __ \ | / / __ `/
#  / /  / / / /__/ /  / /_/ / /|  / /_/ / |/ / /_/ / 
# /_/  /_/_/\___/_/   \____/_/ |_/\____/|___/\__,_/  
#                                                  
# Mercury BASEBOARD User Constraints File
# Revision 1.0.0 (03/25/2015)
# Copyright (c) 2015 MicroNova, LLC
# www.micro-nova.com

# system oscillators
NET "EXT_CLK"   LOC = "P44" | IOSTANDARD = LVTTL ;
NET "CLK"       LOC = "P43" | IOSTANDARD = LVTTL ;
NET "CLK"       TNM_NET = "CLK"; 
TIMESPEC        "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;

# PS/2
NET "PS2_DATA"  LOC = "P13" | IOSTANDARD = LVTTL ;
NET "PS2_CLK"   LOC = "P15" | IOSTANDARD = LVTTL ;

# Buttons
NET "USR_BTN"	LOC = "P41" | IOSTANDARD = LVTTL ;
NET "BTN<0>"	LOC = "P68" | IOSTANDARD = LVTTL ;
NET "BTN<1>"	LOC = "P97" | IOSTANDARD = LVTTL ;
NET "BTN<2>"	LOC = "P7"  | IOSTANDARD = LVTTL ;
NET "BTN<3>"	LOC = "P82" | IOSTANDARD = LVTTL ;

# VGA
NET "RED<0>" 	LOC = "P20" | IOSTANDARD = LVTTL ;
NET "RED<1>" 	LOC = "P32" | IOSTANDARD = LVTTL ;
NET "RED<2>" 	LOC = "P33" | IOSTANDARD = LVTTL ;
NET "GRN<0>" 	LOC = "P34" | IOSTANDARD = LVTTL ;
NET "GRN<1>" 	LOC = "P35" | IOSTANDARD = LVTTL ;
NET "GRN<2>" 	LOC = "P36" | IOSTANDARD = LVTTL ;
NET "BLU<0>" 	LOC = "P37" | IOSTANDARD = LVTTL ;
NET "BLU<1>"	LOC = "P40" | IOSTANDARD = LVTTL ;
NET "HSYNC"		LOC = "P16" | IOSTANDARD = LVTTL ;
NET "VSYNC"    LOC = "P19" | IOSTANDARD = LVTTL ;

# SWITCHES
NET "SW<0>"  	LOC = "P59" | IOSTANDARD = LVTTL ;		#"MA<0>"
NET "SW<1>"    LOC = "P60" | IOSTANDARD = LVTTL ;		#"MA<1>"
NET "SW<2>"    LOC = "P61" | IOSTANDARD = LVTTL ;		#"MA<2>"
NET "SW<3>"    LOC = "P62" | IOSTANDARD = LVTTL ;		#"MA<3>"
NET "SW<4>"    LOC = "P64" | IOSTANDARD = LVTTL ;		#"MA<4>"
NET "SW<5>"    LOC = "P57" | IOSTANDARD = LVTTL ;		#"MA<4>"
NET "SW<6>"    LOC = "P56" | IOSTANDARD = LVTTL ;		#"MA<5>"
NET "SW<7>"    LOC = "P52" | IOSTANDARD = LVTTL ;		#"MA<7>"

# 7 SEG
NET "AN<0>"      LOC = "P50" | IOSTANDARD = LVTTL ;	#"MA<8>"
NET "AN<1>"      LOC = "P49" | IOSTANDARD = LVTTL ;	#"MA<9>"
NET "AN<2>"      LOC = "P85" | IOSTANDARD = LVTTL ;	#"MA<10>"
NET "AN<3>"      LOC = "P84" | IOSTANDARD = LVTTL ;	#"MA<11>"
NET "A_TO_G<0>"  LOC = "P72" | IOSTANDARD = LVTTL ;	#"MA<18>"
NET "A_TO_G<1>"  LOC = "P71" | IOSTANDARD = LVTTL ;	#"MA<17>"
NET "A_TO_G<2>"  LOC = "P70" | IOSTANDARD = LVTTL ;	#"MA<16>"
NET "A_TO_G<3>"  LOC = "P65" | IOSTANDARD = LVTTL ;	#"MA<15>"
NET "A_TO_G<4>"  LOC = "P77" | IOSTANDARD = LVTTL ;	#"MA<14>"
NET "A_TO_G<5>"  LOC = "P78" | IOSTANDARD = LVTTL ;	#"MA<13>"
NET "A_TO_G<6>"  LOC = "P83" | IOSTANDARD = LVTTL ;	#"MA<12>"
NET "DOT"        LOC = "P73" | IOSTANDARD = LVTTL ;	#"MA<19>"

# PMOD
NET "PMOD<0>"   LOC = "P5"  | IOSTANDARD = LVTTL ;		#"MD<7>"
NET "PMOD<1>"   LOC = "P4"  | IOSTANDARD = LVTTL ;		#"MD<6>"
NET "PMOD<2>"   LOC = "P6"  | IOSTANDARD = LVTTL ;		#"MD<5>"
NET "PMOD<3>"   LOC = "P98" | IOSTANDARD = LVTTL ;		#"MD<4>"
NET "PMOD<4>"   LOC = "P94" | IOSTANDARD = LVTTL ;		#"MD<3>"
NET "PMOD<5>"   LOC = "P93" | IOSTANDARD = LVTTL ;		#"MD<2>"
NET "PMOD<6>"   LOC = "P90" | IOSTANDARD = LVTTL ;		#"MD<1>"
NET "PMOD<7>"   LOC = "P89" | IOSTANDARD = LVTTL ;		#"MD<0>"
NET "PMOD<0>" CLOCK_DEDICATED_ROUTE = FALSE;

# AUDIO OUT
NET "AUDIO_OUT_R" LOC = "P88" | IOSTANDARD = LVTTL ;	#"MWEn"
NET "AUDIO_OUT_L" LOC = "P86" | IOSTANDARD = LVTTL ;

# memory & bus-switch
NET "SWITCH_OEN" LOC = "P3"  | IOSTANDARD = LVTTL ;
NET "MEMORY_OEN" LOC = "P30" | IOSTANDARD = LVTTL ;

# flash/usb interface
NET "FPGA_CSN"	 LOC = "P39" | IOSTANDARD = LVTTL ;
NET "FLASH_CSN"  LOC = "P27" | IOSTANDARD = LVTTL ;
NET "SPI_MOSI" LOC = "P46" | IOSTANDARD = LVTTL ;
NET "SPI_MISO" LOC = "P51" | IOSTANDARD = LVTTL ;
NET "SPI_SCK"  LOC = "P53" | IOSTANDARD = LVTTL ;

# ADC interface
NET "ADC_MISO"	LOC = "P21" | IOSTANDARD = LVTTL ;
NET "ADC_MOSI"	LOC = "P10" | IOSTANDARD = LVTTL ;
NET "ADC_SCK" 	LOC = "P9"  | IOSTANDARD = LVTTL ;
NET "ADC_CSN"	LOC = "P12" | IOSTANDARD = LVTTL ;
